In [1]:
import scipy.stats as stats

sample_mean = 1100
population_mean = 1000
sample_std = 90
sample_size = 120

t_statistic = (sample_mean - population_mean) / (sample_std / (sample_size ** 0.5))

In [2]:
df = sample_size - 1

# Critical t-value at 1% significance level and df
critical_t_value = stats.t.ppf(1 - 0.01, df)

In [4]:
if t_statistic > critical_t_value:
    print("Reject the null hypothesis. The average life of the new tube lights is significantly greater than 1000 hours.the company should give the contract to this new company ")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to conclude that the average life of the new tube lights is greater than 1000 hours.")

Reject the null hypothesis. The average life of the new tube lights is significantly greater than 1000 hours.the company should give the contract to this new company